<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model='msg'/>
			<button @click="handleClick">submit</button>
			<ul>
				<li v-for='item in list'>{{item}}</li>
			</ul>
		</div>
		<script type="text/javascript">
			new Vue({
				el:"#app",
				data:{
					list:[],
					msg:''
					
				},
				methods:{
					handleClick:function(){
						this.list.push(this.msg);
						this.msg='';

					}
				}
			})
		</script>
	</body>
</html>
